# Ignorar arquivos temporários do sistema
*.log
*.tmp
*.swp

# Ignorar dependências do Python
__pycache__/
*.pyc

# Ignorar banco de dados do Airflow
airflow/airflow.db

# Ignorar pastas do Docker
docker/__pycache__/
docker/*.pyc

# Ignorar arquivos do ambiente virtual
.venv/